@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=REM:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.main-buyerhome .heading-section{
  margin-top: 70px;
  z-index:2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main-buyerhome .heading-section>h1{
  font-family: "Saira", sans-serif;
  font-weight: 500;
  color: white;
  text-shadow: 1px 1px 0px black;
}
#back-arrow{
  position: fixed;
  color: #088992;
  padding: 0px 20px;
  background-color: white;
  z-index: 999;
  width: 100%;
}
#back-arrow>span{
  cursor: pointer;
}

.main-buyerhome{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* search section */
.main-search-bar{
  height: 600px;    
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-search-bar>video{
position: absolute;
top: 0px;
width: 100%;
height: 700px;
object-fit: fill;
transition: all ease-in-out 0.3s;
}
.searching-tabs{
  width: 80%;
  position: absolute;
  top: 400px;
  display: flex;
  gap: 2px;
}
.searching-tabs .singletab{
padding: 8px 10px;
border-radius: 5px 5px 0px 0px;
background-color: rgba(255, 255, 255, 0.158);
cursor: pointer;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.singletab>span{
font-family: "REM", sans-serif;
font-weight: 300;
}
.searching-tabs .tab-active{
background-color: #f1f1f1;
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.tab-active>span{
font-weight: 500;
}
.searching{
  width: 80%;
  background: rgba(255, 255, 255, 0.562);
  backdrop-filter: blur(2px);
  border-radius: 0px 10px 10px 10px;
  position: absolute;
  top: 436px;
}
.searching::placeholder {
color: rgba(255, 255, 255, 0.7);
}

.searching:focus {
background: rgba(255, 255, 255, 0.5);
outline: none;
}
.searchbar{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: 10px 20px;
gap: 20px;
}
.searchbar .searchselect{
display: flex;
align-items: center;
gap: 10px;
cursor: pointer;
}
.searchbar .searchselect:hover .headicon{
transform: scale(1.1);
}

.searchbar .searchselect .headicon{
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
padding: 8px;
background-color: rgb(230, 230, 230);
transition: all ease-in-out 0.1s;
}
.search-section:hover .headicon{
background-color: white;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.searchbar .searchselect .inputhead{
display: flex;
flex-direction: column;
justify-content: flex-start;
gap: 2px;
}
.searchbar .searchselect .inputhead .search-heading{
color: black;
font-weight: 500;
font-size: 14px;
}
.searchbar .searchselect .inputhead .search-input{
max-height: 20px;
height: 100%;
width: 200px;
}
.search-input select{
background-color: transparent;
border: none;
outline: none;
cursor: pointer;
}
.search-input #property-input{
border: none;
outline: none;
pointer-events: all;
background: transparent;
height: 18px;
background-color: transparent;
}
.search-input #property-input::placeholder{
color:black;
}
.search-input select option{
background-color: transparent;
}
.search-input #input-container{
display: flex;
gap: 5px;
overflow-x: auto;
}
#input-container::-webkit-scrollbar {
width: 5px; 
height: 5px;/* width of the entire scrollbar */
}

#input-container::-webkit-scrollbar-track {
background: rgb(255, 255, 255);
}

#input-container::-webkit-scrollbar-thumb {
background-color: #088994; 
border-radius: 20px;
border: 3px solid rgb(112, 112, 112);
}
.search-input .input-wrapper2{
display: flex;
align-items: center;
gap: 5px;
}
.search-input .input-wrapper2>input{
border: none;
outline: none;
padding: 5px;
border-radius: 10px;
width: 100px;
height: 25px;
background-color: transparent;
padding-left: 0px;
}
.search-input .input-wrapper2>input::placeholder{
color: black;
}
.search-input .input-wrapper2>button{
background-color: transparent;
border: none;
cursor: pointer;
color: red;
font-size: 20px;
}
.searchbar .searchselect .searchicon{
background-color: rgb(17, 17, 17);
color: white;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
border-radius: 10px;
cursor: pointer;
}
.searchbar .searchselect .searchicon:hover{
background-color: grey;
}
.searchbar .searchselect .getexperts{
background-color: black;
color: white;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 8px;
font-size: 14px;
margin-left: 10px;
}
.searchbar .searchselect .getexperts .span{
padding: 10px;
}
@media (max-width:768px) {
.main-buyerhome .heading-section{
  position: relative;
}
.main-buyerhome .heading-section>h1{
  color: black;
  text-shadow: none;
  text-align: center;
}
.search-section .image-section>img{
  filter: grayscale(0%);
}
.searching{
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  bottom: 10px;
  backdrop-filter: blur(0px);
  background-color: white;
}
.searchbar{
  align-items: flex-start;
  flex-direction: column;
}
.search-section:hover .headicon{
  background-color:rgb(230, 230, 230) ;
}
.searchbar .searchselect:hover .headicon{
  transform: scale(1);
}
.searchbar .searchselect .inputhead{
  gap: 8px;
}
.search-input #input-container{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.search-input .input-wrapper2>input{
  width: 100px;
}
.search-input .input-wrapper2>button{
  font-size: 16px;
  padding: 0px;
}
}
/* property-type */
.main-property-type {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 501px;
  width: 100%;
  z-index: 1;
}

.property-type {
  max-width: 700px;
  width: 90%;
  padding: 10px;
  background-color: white;
  border-radius:20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.properties {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
}

.property-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  cursor: pointer;
  font-size: 14px;
  width: 100px;
}

.property-checkboxes {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.property-checkboxes.visible {
  display: flex; 
}

.icon {
  transition: transform 0.3s ease; 
}

.icon.rotate {
  transform: rotate(180deg); 
}

.property-check {
  display: flex;
  gap: 8px;
}
.selected-properties {
  max-width: 300px;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: 2px; 
}

.selected-properties #selectedList {
  width: 100%;
  display: flex;
  gap: 2px;
}
.selected-properties #selectedList li{
  display: flex;
  gap: 2px;
  align-items: center;
  white-space: nowrap;
  font-size: 14px;
  color: black;
  font-weight: bold;
  padding: 2px 5px;
  justify-content: center;
  border-radius: 20px;
}
.selected-properties #selectedList li .crossicon{
  color: red;
  font-size: 16px;
}

.selected-properties::-webkit-scrollbar {
  width: 5px; 
  height: 5px;/* width of the entire scrollbar */
}

.selected-properties::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

.selected-properties::-webkit-scrollbar-thumb {
  background-color: #088994; 
  border-radius: 20px;
  border: 3px solid rgb(112, 112, 112);
}

@media (max-width:768px) {

  .selected-properties {
    max-width: 200px;
    width: 100%;
  }
  .main-property-type{
    position: relative;
    top: 0px;
    bottom: 25px;
  }

}



/* budget slider */
.main-price-range{
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 501px;
  z-index: 1;
  width: 100%;
}
.price-range {
  max-width: 700px;
  width: 90%;
  padding: 10px;
  background-color: white;
  border-radius:20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.slider-container {
  width: 80%;
  margin: 100px auto;
  text-align: center;
}

.labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.range-slider {
  position: relative;
  width: 100%;
}

input[type=range] {
  width: 100%;
  height: 2px;
  background-color: red;
  outline: none;
  position: absolute;
  pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
  background-color: gray;
}

input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fff;
  border: 4px solid #6200ee;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
}

.ticks {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.ticks span {
  font-size: 12px;
}

.value-display {
  width: 130px;
  font-weight: bold;
  font-size: 14px;
}

input#max-range {
  z-index: 2;
}
@media (max-width:768px) {
  .main-price-range{
    bottom: 25px;
  }
}

/* main-content */
.main-home-content{
  position: relative;
  bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(212, 238, 227);
  padding: 20px 10px;
  border-radius: 20px;
}
.main-home-content .home-content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.main-home-content .home-content .property-names{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.87);
  backdrop-filter: blur(2px);
  transition: all ease 0.5s;
  width: 210px;
}
.home-content .property-names:hover{
  background-color: white;
}
.main-home-content .home-content .property-names:hover .property-icon>img{
  transform: scale(1.2);
}
.property-names .property-icon{
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.property-names .property-icon>img{
  height: 35px;
  width: 35px;
  object-fit: cover;
  transition: all ease-in-out 0.5s;
}
.property-names .property-content{
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.property-content .property-name-heading{
  font-weight: bold;
  font-size: 18px;
}
.home-content .property-names:hover .property-name-heading{
  color: #088994;
}
.property-content .property-name-description{
  color: grey;
  font-size: 14px;
  text-align: center;
}
@media (max-width:768px) {
  .main-home-content{
    position: relative;
    bottom: 0px;
  }
  .main-home-content .home-content .property-names{
    width: 280px;
    height: 250px;
  }
  .property-content .property-name-heading{
    color:#088994 ;
  }
}
/* FAQ's */
.main-faqs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 0px 10px;
}
.main-faqs .heading>span{
  font-size: 18px;
  font-weight: bold;
  color: #2E6C9A;
}
.main-faqs .faqs{

  max-width: 700px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.faqs .questionandanswer{
  border-bottom: 2px solid grey;
}
.faqs .main-question{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F7F8FB;
  font-size: 14px;
  cursor: pointer;
}
.main-answer {
  display: none; 
  padding: 10px 20px;
  font-size: 14px;
}

.arrow-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
  display: inline-block;
  margin-left: 10px;
}

.open .arrow-icon {
  transform: rotate(180deg);
}