@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
};
.main-buyer-package{
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.main-buyer-package .package-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}
.main-buyer-package .package-heading h3{
    font-size: 16px;
    color: #008994;
}
.main-buyer-package .main-package{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.main-buyer-package .main-package section{
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-bottom: 10px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}
.main-buyer-package .main-package section:hover{
    transform: scale(1.04);
}
.main-package section .main-head div{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: white;
    border-radius: 10px 0px;
    width: 110px;
    height: 55px;
    padding-left: 12px;
}
.main-package section .main-head div span:first-child{
    font-size: 17px;
    font-weight: 500;
}
.main-package section .main-head div span:last-child{
    font-size: 12px;
}
.main-package section .main-line{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-package section .main-line span{
    border: 1px solid black;
    width: 90%;
}
.main-package section .icons{
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    gap: 10px;
    padding: 10px;
}
.main-package section .icons div{
    display: flex;
    gap: 10px;
}
.main-package section .plan-price{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    height: 50px;
}

.main-package section .plan-price div span:first-child{
    font-size: 26px;
    font-weight: 500;
}
.main-package section .plan-price div span:last-child{
    font-size: 12px;
}
.main-package section .plan-buy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-package section .plan-buy span{
    padding: 10px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.main-package section .main-head .box1{
    background-color: #008994;
}
.main-package section .main-head .box2{
    background-color: #10578B;
}
.main-package section .main-head .box3{
    background-color: #FAC400;
}
.main-package section .main-head .box4{
    background-color: #7A2350;
}
.main-package section .main-head .box5{
    background-color: #008994;
}

.main-package section #right1 div>i{
    color: #008994;
    font-size: 16px;
}
.main-package section #right2 div>i{
    color: #10578B;
    font-size: 16px;
}
.main-package section #right3 div>i{
    color: #FAC400;
    font-size: 16px;
}
.main-package section #right4 div>i{
    color: #7A2350;
    font-size: 16px;
}
.main-package section #right5 div>i{
    color: #008994;
    font-size: 16px;
}

.main-package section .plan-buy .boox-1{
    border: 1px solid #008994;
    color: #008994;
}
.main-package section .plan-buy .boox-2{
    border: 1px solid #10578B;
    color: #10578B;
}
.main-package section .plan-buy .boox-3{
    border: 1px solid #FAC400;
    color: #FAC400;
}
.main-package section .plan-buy .boox-4{
    border: 1px solid #7A2350;
    color: #7A2350;
}
.main-package section .plan-buy .boox-5{
    border: 1px solid #008994;
    color: #008994;
}

.main-package section .plan-buy .boox-1:hover{
    border: 1px solid #008994;
    background-color: #008994;
    color: white;
}
.main-package section .plan-buy .boox-2:hover{
    border: 1px solid #10578B;
    background-color: #10578B;
    color: white;
}
.main-package section .plan-buy .boox-3:hover{
    border: 1px solid #FAC400;
    background-color: #FAC400;
    color: white;
}
.main-package section .plan-buy .boox-4:hover{
    border: 1px solid #7A2350;
    background-color: #7A2350;
    color: white;
}
.main-package section .plan-buy .boox-5:hover{
    border: 1px solid #008994;
    background-color: #008994;
    color: white;
}
@media (max-width:768px) {
    .main-buyer-package .main-package{
        padding: 0px;
    }
}