@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.main-facetoface{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.main-facetoface>span{
    font-weight: bold;
    color: #008994;
    font-size: 18px;
}
.main-facetoface .facetofacedetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.facetofacedetails section{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
}
.facetofacedetails>section>input{
    width: 100%;
    padding: 8px 8px;
    outline: none;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 8px;
    font-size: 14px;
}
.facetofacedetails>section>input:hover{
    border: 1px solid black;
}
.facetofacedetails>section>label{
    font-size: 14px;
    font-weight: 500;
}
.facetofacedetails .required-fields{
    color: red;
}
.facetofacedetails article{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.facetofacedetails article .submittion{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.facetofacedetails .time-format>div{
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.facetofacedetails .time-format>div>div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.facetofacedetails .time-format>div>div>select{
    border-radius: 8px;
    padding: 8px;
    border: 1px solid rgb(226, 226, 226);
    outline: none;
}
.facetofacedetails .time-format>div>div>select:hover{
    border: 1px solid rgb(0, 0, 0);
}
.facetofacedetails #submit, .facetofacedetails #back{
    padding: 5px 10px;
    border: none;
    background-color: #008994;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button{
    -webkit-appearance: none;
}