@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
#update-main{
    padding: 20px;
}
#update-main>span{
    font-size: 16px;
    font-weight: bold;
    color: #008994;
}
#update-main #update-form{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
#update-main .update-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}
#update-main .update-details>section{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#update-main .update-details>section>label{
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
#update-main .update-details>section>input{
    height: 30px;
    padding: 0px 5px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(206, 206, 206);
}
#update-main .update-details>section>label>span{
    color: red;
    font-size: 10px;
}
#update-main .update-details>section>span{
    font-size: 13px;
    font-weight: bold;
}
#update-main .update-details>section>div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 10px;
}
#update-main .update-details>section>div>section{
    display: flex;
    align-items: center;
    gap: 5px;
}
#update-main .update-details>section>div>section>label{
    font-size: 14px;
}
#update-main .update-details>section>select{
    height: 30px;
    padding: 0px 5px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(206, 206, 206);
}
#update-main .submition{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
}
#update-main .submition>input{
    background-color: #008994;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width:768px) {
    #update-main #update-form>section{
        width: 45%;
    }
    #update-main #update-form>section>div{
        gap: 10px;
    }
}