@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=REM:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
/*Start Main Nav bar */
*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.navigation-bar{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    z-index: 99;
    position: fixed;
    width: 100%;
    transition: all 1s ease;
}
/* main logo */
.navigation-bar .main-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.navigation-bar .main-logo .logo-img{
    height: 35px;
    width: 35px;
}
.navigation-bar .main-logo .name-img{
  height: 20px;
  width: 150px;
}
.navigation-bar .main-logo .logo-name{
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}
/* nav sections */
.navigation-bar .nav-sections{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.navigation-bar .nav-sections .single-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.navigation-bar .single-section .nav-buyer{
    font-family: "REM", sans-serif;
    font-weight: 300;
    color: white;
}
.navigation-bar .single-section .nav-agent{
  font-family: "REM", sans-serif;
    font-weight: 300;
    color: white;
}
.navigation-bar .single-section .nav-tenants{
  font-family: "REM", sans-serif;
    font-weight: 300;
    color: white;
}
.navigation-bar .single-section  .nav-findcontractor{
  font-family: "REM", sans-serif;
    font-weight: 300;
    color: white;
}
.navigation-bar .all-hover-heading{
  display: flex;
}
.navigation-bar .nav-sections .single-section .all-hover-heading >span{
  color: white;
}

.navigation-bar .nav-contractor{
  background-color: #A5362B;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}
.navigation-bar .nav-builder{
  background-color: #D96F2C;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}
.navigation-bar .nav-postproperty{
  background-color: #0B3A62;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}
/* nav- profile*/
.navigation-bar .nav-main-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    cursor: pointer;
    color: white;
}
.navigation-bar .nav-main-profile .nav-profile{
  font-family: "REM", sans-serif;
  font-weight: 500;
}
/* Main menu */
.navigation-bar .main-menus{
  padding: 0px 3px;
  color: white;
}
/* Scrolled */
.navbar-scrolled{
  background-color: rgb(241, 241, 241);
}
.navbar-scrolled .nav-contractor{
  color: white;
}
.navbar-scrolled .nav-builder{
  color: white;
}
.navbar-scrolled .nav-postproperty{
  color: white;
}
.navbar-scrolled .single-section .nav-buyer{
 color: black;
}
.navbar-scrolled .single-section .nav-agent{
 color: black;
}
.navbar-scrolled .single-section .nav-tenants{
 color: black;
}
.navbar-scrolled .single-section  .nav-findcontractor{
 color: black;
}
.navbar-scrolled .nav-sections .single-section .all-hover-heading>span{
  color: black;
}
.navbar-scrolled .nav-main-profile{
  color: black;
}
.navbar-scrolled .main-menus{
  color: black;
}

/* Buyer-hover */

.all-hover {
  background-color: #f1f1f1;
  position: fixed;
  top: 65px;
  left: 60px;
  font-size: 14px;
  align-items: flex-start;
  justify-content: center;
  padding: 25px 50px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  display: none;
}

.all-hover .hover-content-main {
  display: flex;
  gap: 50px;
}

.all-hover .hover-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.all-hover .hover-content .hover-heading {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.all-hover .hover-content .hover-heading>span{
  padding: 3px;
  border-radius: 50%;
  align-items: center;
  color: rgb(58, 58, 58);
  border: 1px solid rgb(194, 194, 194);
}
.all-hover .hover-content .hover-heading>div{
  font-weight: 600;
  font-size: 15px;
  color: black;
}
.hover-heading #house{
  background-color: #acb6e5cb;
}
.hover-heading #apartment{
  background-color: #ffd8c0b4;
}
.hover-heading #storefront{
  background-color: #b5f1ccc5;
}
.hover-heading #houseboat{
  background-color: #9fe9f68c;
}
.hover-heading #nature-people{
  background-color: #ffc0d9b2;
}

.all-hover .hover-content .hover-tags {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.hover-tags ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 25px;
}
.hover-tags ul li a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  position: relative;
  padding: 2px;
  font-weight: 500;
}

.hover-tags ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.5s ease;
}

.hover-tags ul li a:hover::before {
  width: 100%;
}

#buyer-hover-heading:hover + #buyer-hover {
  display: block;
}
.all-hover-heading {
  cursor: pointer;
}
#buyer-hover:hover {
  display: block;
}

/* End main nav bar */
.main-search-bar{
    background-image: url(../assets/maps.png);
    height: 700px;    
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-content>video{
  position: absolute;
  top: 0;
  height: 500px;
  width: 100%;
  object-fit: fill;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.searching-tabs{
    width: 80%;
    position: relative;
    top: 100px;
    display: flex;
    gap: 2px;
}
.searching-tabs .singletab{
  padding: 8px 10px;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(255, 255, 255, 0.158);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.singletab>span{
  font-family: "REM", sans-serif;
  font-weight: 300;
}
.searching-tabs .tab-active{
  background-color: #f1f1f1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.tab-active>span{
  font-weight: 500;
}
.searching{
    width: 80%;
    background: rgba(255, 255, 255, 0.562);
    backdrop-filter: blur(2px);
    border-radius: 0px 10px 10px 10px;
    position: relative;
    top: 100px;
}
.searching::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.searching:focus {
  background: rgba(255, 255, 255, 0.5);
  outline: none;
}
.searchbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 20px;
}
.searchbar .searchselect{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.searchbar .searchselect:hover .headicon{
  transform: scale(1.1);
}

.searchbar .searchselect .headicon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 8px;
  background-color: rgb(230, 230, 230);
  transition: all ease-in-out 0.1s;
}
.search-section:hover .headicon{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.searchbar .searchselect .inputhead{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
}
.searchbar .searchselect .inputhead .search-heading{
  color: black;
  font-weight: 500;
  font-size: 14px;
}
.searchbar .searchselect .inputhead .search-input{
  max-height: 20px;
  height: 100%;
  width: 200px;
}
.search-input select{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.search-input #property-input{
  border: none;
  outline: none;
  pointer-events: all;
  background: transparent;
  height: 18px;
  background-color: transparent;
}
.search-input #property-input::placeholder{
  color:black;
}
.search-input select option{
  background-color: transparent;
}
.search-input #input-container{
  display: flex;
  gap: 5px;
  overflow-x: auto;
}
#input-container::-webkit-scrollbar {
  width: 5px; 
  height: 5px;/* width of the entire scrollbar */
}

#input-container::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

#input-container::-webkit-scrollbar-thumb {
  background-color: #088994; 
  border-radius: 20px;
  border: 3px solid rgb(112, 112, 112);
}
.search-input .input-wrapper2{
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-input .input-wrapper2>input{
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
  height: 25px;
  background-color: transparent;
  padding-left: 0px;
}
.search-input .input-wrapper2>input::placeholder{
  color: black;
}
.search-input .input-wrapper2>button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 20px;
}
.searchbar .searchselect .searchicon{
  background-color: rgb(17, 17, 17);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.searchbar .searchselect .searchicon:hover{
  background-color: grey;
}
.searchbar .searchselect .getexperts{
  background-color: black;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 14px;
  margin-left: 10px;
}
.searchbar .searchselect .getexperts .span{
  padding: 10px;
}
@media (max-width:768px) {
  .main-buyerhome .heading-section{
    position: relative;
  }
  .main-buyerhome .heading-section>h1{
    color: black;
    text-shadow: none;
    text-align: center;
  }
  .search-section .image-section>img{
    filter: grayscale(0%);
  }
  .searching{
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    bottom: 10px;
    backdrop-filter: blur(0px);
    background-color: white;
  }
  .searchbar{
    align-items: flex-start;
    flex-direction: column;
  }
  .search-section:hover .headicon{
    background-color:rgb(230, 230, 230) ;
  }
  .searchbar .searchselect:hover .headicon{
    transform: scale(1);
  }
  .searchbar .searchselect .inputhead{
    gap: 8px;
  }
  .search-input #input-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .search-input .input-wrapper2>input{
    width: 100px;
  }
  .search-input .input-wrapper2>button{
    font-size: 16px;
    padding: 0px;
  }
}

/* footer */
footer{
  padding: 20px 40px;
  background-image: linear-gradient(78deg, rgba(96, 96, 96, 0.04) 0%, rgba(96, 96, 96, 0.04) 35%,rgba(220, 220, 220, 0.04) 35%, rgba(220, 220, 220, 0.04) 100%),linear-gradient(150deg, rgba(83, 83, 83, 0.04) 0%, rgba(83, 83, 83, 0.04) 71%,rgba(6, 6, 6, 0.04) 71%, rgba(6, 6, 6, 0.04) 100%),linear-gradient(311deg, rgba(203, 203, 203, 0.04) 0%, rgba(203, 203, 203, 0.04) 58%,rgba(3, 3, 3, 0.04) 58%, rgba(3, 3, 3, 0.04) 100%),linear-gradient(137deg, rgba(110, 110, 110, 0.04) 0%, rgba(110, 110, 110, 0.04) 11%,rgba(226, 226, 226, 0.04) 11%, rgba(226, 226, 226, 0.04) 100%),linear-gradient(90deg, rgb(11,64,102),rgb(16,87,139));   display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: space-evenly;
  gap: 20px;
}
footer .social{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;   
}
footer .social>span{
  font-size: 23px;
  font-weight: 500;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 10px;
}
footer .social>span>img{
  height: 20px;
}
footer .social>div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
footer .social>div>div{
  background-color: white;
  border-radius: 12px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 5px 5px 0px 0px rgb(41, 40, 40);
  transition: all 0.1s ease-in-out;
}
footer .social>div>div:hover{
  box-shadow: 0px 0px 0px 0px black;
  transform: translateY(-2px);
}
footer .social>div .fa-square-facebook{
  color: #395693;
  font-size: 23px;
  text-align: center;
}
footer .social>div .fa-youtube{
  color: red;
  font-size: 23px;
  text-align: center;
}
footer .social>div .fa-square-x-twitter{
  color: black;
  font-size: 23px;
}
footer .social>div .fa-square-instagram{
  background: linear-gradient(225deg, #7F02F7, #F502BD, #F63119, #F5C000);
  background-clip: text;
  color: transparent;
  font-size: 23px;
}
footer .quick-links{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .quick-links>span{
  font-size: 16px;
  font-weight: 400;
}
footer .quick-links>div{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
footer .quick-links>div>a{
  font-size: 14px;
  color: rgb(219, 219, 219);
  cursor: pointer;
  text-decoration: none;
}
footer .contact-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 250px;
  width: 100%;
}
footer .contact-info>div{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .contact-info>div>span{
  font-size: 14px;
  color: rgb(219, 219, 219);
}
footer .subscribe{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10px;
  max-width: 250px;
  width: 100%;
}
footer .subscribe>span{
  font-size: 16px;
  font-weight: 400;
}
footer .subscribe>div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
}
footer .subscribe>div>span{
  font-size: 14px;
  color: rgb(219, 219, 219);
}
footer .subscribe>div>form>input{
  padding: 5px;
  border-radius: 2px;
  border: none;
}
footer .subscribe>div>form>.fotbtn{
  background-color: white;
  border: none;
  border-radius: 2px;
  padding: none;
  margin: none;
  padding: 5px;
  cursor: pointer;
}

.copyright{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(9,45,67)),repeating-linear-gradient(135deg, rgb(9,45,67) 0px, rgb(9,45,67) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(9,45,67),rgb(9,45,67));
  color: rgb(255, 255, 255);
  gap: 10px;

}
.copyright .wing{
  cursor: pointer;
  font-size: 14px;
}
.copyright>span{
  font-size: 15px;
}
.copyright>div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.copyright>div>span{
  font-size: 14px;
  cursor: pointer;
}
.copyright>div>div{
  border: 1px solid white;
  height: 18px;
}
@media (max-width:768px) {
  footer{
      padding: 15px 20px;
      justify-content: flex-start;
  }
  .copyright>div{
      gap: 12px;
  }
}
