@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
}
 .contentofpage{
    padding: 20px;
 }
 .invoice-box{
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px auto;
 }
.inheading{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.invoicehead{
    font-size: 20px;
    color: #2E6C9A;
    font-weight: bold;
}
.recent{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    background-color: #10578b;
    padding: 5px 10px;
    border-radius: 4px;
    width: max-content;
    color: white;
}
.export{
    display: flex;
    justify-content: flex-end;

}
.export {
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: #10578b;
    color: white;
    padding: 5px 10px;
    display: flex;
    gap: 5px;
    cursor: pointer;
    border-radius:4px;
}
.fetching{
    border-radius: 10px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contentofpage .all-details-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:10px ;
}
.contentofpage .all-details-head .org-details{
    display: flex;
    align-items: center;
    gap: 30px;
}
.contentofpage .all-details-head .org-details figure{
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bdbdbd;
}
.all-details-head .org-details figure img{
    background-color: white;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    object-fit: contain;
}
.all-details-head .org-details span{
    font-family: "Saira", sans-serif;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    i{
        font-size: 16px;
    }
}
.contentofpage .all-details-head .this-heading{
    display: flex;
    align-items: center;
    padding:30px 40px;
    border-radius: 40px 0px 0px 40px;
    background-color: #10578B;
    height: 100%;
}
.contentofpage .all-details-head .this-heading div{
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.contentofpage .all-details{
    border-top: 1px solid rgba(27, 31, 35, 0.264);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    font-size: 14px;
    gap: 10px;
}
.contentofpage .organisation-det{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(113, 113, 113);
    max-width: 400px;
    width: 100%;
}
.contentofpage .all-details .details{
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    justify-content: flex-start;
    gap: 5px;
    .material-symbols-outlined{
        font-size: 20px;
    }
}

.contentofpage .all-details .enter-det{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    justify-content: space-evenly;
    font-size: 14px;
    color: rgb(113, 113, 113);
    max-width: 300px;
    width: 100%;
    text-align: right;
}
.all-details .enter-det .client input{
    width: 100px;
    padding: 5px;
    text-align: left;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 3px;
    outline: none;
    color: rgb(113, 113, 113);
}
.enter-det .client span:last-child{
    padding: 0px 7px;
}

@media (max-width:768px) {
    .all-details-head{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: right;
        gap: 20px;
    }
    .contentofpage .all-details-head .this-heading{
        border-radius: 30px;
    }
    .contentofpage .all-details{
        justify-content: center;
        gap: 25px;
    }
    .contentofpage .all-details .enter-det{
        align-items: flex-start;
        text-align: left;
        width: 100%;
        max-width: 400px;
    }
}
/* container */
.container{
    /*border:2px solid orangered;*/
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.containers{
    width:100%;
}
.table{
    font-size: 14px;
}
.table td, .table th{
    text-align: center;
}
.table i{
    margin-right: 4px;
}
.building{
    color:rgb(85, 154, 234);
}
.bag{
    color:rgb(249, 91, 201);
}
.price{
    color:rgb(196, 170, 86);
}
.quotations{
    color:rgb(77, 169, 182);
    font-weight: 500;
}
.boxes{
    height:300px;
    display: flex;
    justify-content: end;
    align-items: center;
    height:180px;
    margin-top: 30px;
}

label{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
}



/* total */
.thetotal{
    display: flex;
    right: 0;
    justify-content:right ;
    padding: 20px;
    max-width: 780px;
    width: 100%;
}
.total-container{
    display: flex;
    justify-content: right;
    align-items:flex-end;
    padding: 20px 20px;
    background-color: #10578b;
    color: white;
    border-radius: 8px;
}
.totals {
    /* margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    width: 100%;
    padding: 0px 20px;
    color: white;
    border-radius: 8px;
    width: max-content;
}

.totals-row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    max-width: 800px;
    padding-bottom: 8px;
    border-bottom: 1px solid whitesmoke;
}

.label {
    text-align: right;
    margin-right: 15px;
    font-size: 14px;
}

.value {
    font-weight: bold;
    font-size: 14px;
}

.totals-row input {
    text-decoration: underline;
    border: none;
    outline: none;
    text-align: left;
    font-size: 14px;
    width: 100%;
    padding: 2px 4px;
    box-sizing: border-box;
}


.table-container {
    max-width: 950px;
    width: 100%;
    margin: auto;
  /*  border:2px solid red;*/
    overflow-x: auto;
}
.continue{
    display: none;
}
thead tr th{
    text-align: left;
}
tbody tr td input{
    max-width: 200px;
    padding: 4px;
    width: 100%;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 2px;
}

tbody tr .rowedited{
    padding: 10px 2px;
    border-bottom: 1px solid #828282;
    text-align: left;

    display: flex;
    justify-content: space-between;
}
.rowedited input{
    max-width: 200px;
    padding: 4px;
    width: 100%;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 2px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px 2px;
    border-bottom: 1px solid #828282;
    text-align: left;

}


.remove-btn {
    background: transparent;
    border: none;
    color: #d9534f;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
}

.remove-btn i {
    margin-left: 0px;
}
.delete-row{
    background-color: white;
    padding: 0px;
    width: 0px;
    margin: 0px;
    width: max-content;
    border: none;
    cursor: pointer;
}
.delete-row i {
    
    font-size: 16px;
    color: #f44336;
}





tbody tr td button.remove-btn {
    margin-left: 0px;
}





.container2{
   /* border:2px solid red;*/
    height:300px;
}
.btn{
    display:flex ;
    justify-content: center;
    align-items: center;
    gap:25px;
    margin-top: 40px;
}
.btn .add{
    width:100px;
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(16, 87, 139);
    color:white;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
}
.btn .add:hover{
    background-color: #004270;
}
.btn .add:disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.6;
}

/* media queries */
@media(max-width:489px){
    .thetotal{
        display: flex;
        justify-content: center;
    }
    .subsign{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
}
/* sign */
.Signature{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    width: 100%;
    margin: 50px;
}
.subsign{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
}
.subsign label{
    border-bottom: 1px solid black;
}
.form1, .form2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.form1 input, .form2 input{
    border: none;
    outline: none;
    margin: 5px 0px;
    background-color: transparent;
    border-bottom: 1px solid rgb(237, 237, 237);
}






.inputs{
    text-align: center;
    border-bottom: #e9e9e9;
}

.savebtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.btnbox{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.save{
    font-size: 14px;

    cursor: pointer;
    color: white;
    background-color: rgb(16, 87, 139);
    border-radius: 4px;
    padding: 4px 8px;
}
.save:hover{
    background-color: rgb(3, 60, 100);

}
/* 
.reset{
    font-size: 14px;

    cursor: pointer;
    color: white;
    background-color: rgb(234, 0, 0);
    border-radius: 4px;
    padding: 4px 8px;
    transition: all 0.2s ease-in-out;
}
.reset:hover{
    transform: scale(1.01);
    background-color: rgb(211, 1, 1);

} */

.required {
    color: red;
}
.error-border {
    border: 1px solid red;
    border-color: red;
}