@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=REM:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
/*Start Main Nav bar */
*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.main-search-bar{
    background-image: url(../assets/maps.png);
    height: 700px;    
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-content>video{
  position: absolute;
  top: 0;
  height: 500px;
  width: 100%;
  object-fit: fill;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.searching-tabs{
    width: 80%;
    position: relative;
    top: 0px;
    display: flex;
    gap: 2px;
}
.searching-tabs .singletab{
  padding: 8px 10px;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(255, 255, 255, 0.158);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.singletab>span{
  font-family: "REM", sans-serif;
  font-weight: 300;
}
.searching-tabs .tab-active{
  background-color: #f1f1f1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.tab-active>span{
  font-weight: 500;
}
.searching{
    width: 80%;
    background: rgba(255, 255, 255, 0.562);
    backdrop-filter: blur(2px);
    border-radius: 0px 10px 10px 10px;
    position: relative;
    top: 0px;
}
.searching::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.searching:focus {
  background: rgba(255, 255, 255, 0.5);
  outline: none;
}
.searchbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 20px;
}
.searchbar .searchselect{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.searchbar .searchselect:hover .headicon{
  transform: scale(1.1);
}

.searchbar .searchselect .headicon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 8px;
  background-color: rgb(230, 230, 230);
  transition: all ease-in-out 0.1s;
}
.search-section:hover .headicon{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.searchbar .searchselect .inputhead{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
}
.searchbar .searchselect .inputhead .search-heading{
  color: black;
  font-weight: 500;
  font-size: 14px;
}
.searchbar .searchselect .inputhead .search-input{
  max-height: 20px;
  height: 100%;
  width: 200px;
}
.search-input select{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.search-input #property-input{
  border: none;
  outline: none;
  pointer-events: all;
  background: transparent;
  height: 18px;
  background-color: transparent;
}
.search-input #property-input::placeholder{
  color:black;
}
.search-input select option{
  background-color: transparent;
}
.search-input #input-container{
  display: flex;
  gap: 5px;
  overflow-x: auto;
}
#input-container::-webkit-scrollbar {
  width: 5px; 
  height: 5px;/* width of the entire scrollbar */
}

#input-container::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

#input-container::-webkit-scrollbar-thumb {
  background-color: #088994; 
  border-radius: 20px;
  border: 3px solid rgb(112, 112, 112);
}
.search-input .input-wrapper2{
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-input .input-wrapper2>input{
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
  height: 25px;
  background-color: transparent;
  padding-left: 0px;
}
.search-input .input-wrapper2>input::placeholder{
  color: black;
}
.search-input .input-wrapper2>button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 20px;
}
.searchbar .searchselect .searchicon{
  background-color: rgb(17, 17, 17);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.searchbar .searchselect .searchicon:hover{
  background-color: grey;
}
.searchbar .searchselect .getexperts{
  background-color: black;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 14px;
  margin-left: 10px;
}
.searchbar .searchselect .getexperts .span{
  padding: 10px;
}
@media (max-width:768px) {
  .main-buyerhome .heading-section{
    position: relative;
  }
  .main-buyerhome .heading-section>h1{
    color: black;
    text-shadow: none;
    text-align: center;
  }
  .searching-tabs{
    width: 90%;
  }
  .search-section .image-section>img{
    filter: grayscale(0%);
  }
  .searching{
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    bottom: 10px;
    backdrop-filter: blur(0px);
    background-color: white;
    border-radius: 0px 0px 5px 5px;
  }
  .searchbar{
    align-items: flex-start;
    flex-direction: column;
  }
  .search-section:hover .headicon{
    background-color:rgb(230, 230, 230) ;
  }
  .searchbar .searchselect:hover .headicon{
    transform: scale(1);
  }
  .searchbar .searchselect .inputhead{
    gap: 8px;
  }
  .search-input #input-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .search-input .input-wrapper2>input{
    width: 100px;
  }
  .search-input .input-wrapper2>button{
    font-size: 16px;
    padding: 0px;
  }
}

/* main home contents */
/* project */
.project-container-heading{
  padding: 20px 20px 0px 60px;
}
.project-container-heading>span{
  font-size: 20px;
  font-weight: 500;
  color: rgb(66, 66, 66);
}
.project-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
}
.left, .mid, .right{
  padding: 5px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  flex-wrap: wrap;
}
.left, .right{
  margin-top: 80px;
  flex-wrap: wrap;
}
.right{
  display: flex;
  flex-wrap: wrap;
}
.mid{
  margin-top: 0px;
  padding-top: 0px;
}
@media(max-width:1200px){
  .project-container{
    margin-top: 20px;
  }
  .left ,.right,.mid{
    margin-top: 0px;
    flex-wrap: wrap;
  }
  .project-container{
    display: flex;
    flex-direction: none;
  }
  .right{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
}

.project-box{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 8px;
  padding-bottom: 10px;
  border: 1px solid ghostwhite;
  max-width: 350px;
  width: 100%;
  background-color: white;
  transition: all 0.2s ease-in-out;
  flex-wrap: wrap;
}
.project-box:hover{
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
/* slider for image and video */


.slider-container {
  width: 100%;
  max-width: 350px;
  margin: 0px 0;
  position: relative;
  overflow: hidden;
  /* border: 2px solid #ccc; */
  border-radius: 10px 10px 0px 0px;
}

.content-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  max-width: 350px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.slide img, .slide video {
  width: 100%;
  max-width: 350px;
  height: 200px;
  object-fit: cover;
  display: block;
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button.prev:hover, button.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* .views, .likes {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 2;
}

.views {
  top: 10px;
  left: 10px;
  font-size: 12px;
}

.likes {
  top: 10px;
  right: 10px;
  font-size: 12px;
} */

.like-button {
  /* position: absolute; */
  /* bottom: 10px; */
  right: 10px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* color: white; */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  /* z-index: 2; */
  border-radius: 5px;
  font-size: 12px;
}

.like-button:hover {
  background-color: rgba(224, 224, 224, 0.8);
}
.like-button .fa-heart {
color: gray;
transition: color 0.3s ease;
}

.like-button.liked .fa-heart {
color: red;
}
.like-button {
background: none;
border: none;
cursor: pointer;
color: #333;
display: flex;
align-items: center;
}
.like-button i{
font-size: 16px;
margin-right: 4px;
}
.like-button.liked i {
color: red; /* Red color for liked state */
transition: color 0.3s;
}

.pro-box-descrp{
  margin-top: 6px;
  margin-left: 10px;
  margin-right: 10px;
  /* padding-left: 5px;
  padding-right: 5px; */
}
.project-name{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pro-name{
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0px;
}
.contractor-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
}
.con-name{
  font-size: 14px;
  font-weight: 600;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.con-name:hover{
  transform: scale(1.02);

}
.contractor-name .quote{
  width: 80px;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  padding: 2px 0px;
  border-radius: 12px;
  color: #008994;
  border: 1px solid #008994;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.contractor-name .quote:hover{
  background-color: #008994;
  color: white;
}
.project-price .price{
  font-size: 14px;
  font-weight: 500;
}
.project-address .pro-address{
  font-size: 14px;
  font-weight: 500;
}
.desp{
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 2px;
  flex-wrap: wrap;
}
.desp .feature{
  width: max-content;
  font-size: clamp(10px,3vw,8px);
  font-weight: 400;
  padding: 2px 6px;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 12px;
  transition: all 0.19s ease-in-out;
  cursor: pointer;
}
.desp .feature:hover{
  transform: scale(1.06);
}
/* pop up modal */
/* Popup container */
.popup {
  display: none; 
  position: fixed;
  z-index: 9; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Popup content */
.popup-content {
  border: 1px solid gainsboro;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: #F7F8FA;
  margin:12% auto 3% auto; 
  padding: 20px 0px;
  border: 1px solid #888;
  width: 95%; 
  max-width: 800px;
  text-align: center;
  border-radius: 10px;
}
@media (max-width:769px) {
  .popup-content{margin: 20% auto 0% auto; 
  }
}
.popup-content .hr{
  margin: 20px auto;
  width: 95%;
  
}
.hr hr{
  border: 1px solid #808080;
}
.contractor-pop{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.contractor-pop img{
  max-width: 60px;
  width: 100%;
  height: max-content;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 50%;
}
.contractor-pop #contractorName{
  font-size: 16px;
  font-weight: 500;
}
/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  margin-right: 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* get quote / enquire */
#constructionForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
#constructionForm .form-group{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 10px;
}
#constructionForm .input-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: white;
  border: 1px solid #3d4e70;
  max-width: 350px;
  width: 100%;
  padding: 10px 1px;
  border-radius:50px ;
  
}
.input-box:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.input-box input{
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  font-weight: 500;
  color: #3d4e70;
}
.input-box span{
  color: #3d4e70;
}
#constructionForm .input-box {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between elements */
  position: relative;
  padding-left: 15px;
}

#constructionForm  .input-box select,
#constructionForm  .input-box input {
  padding:5px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#constructionForm  .input-box input {
  border: none;
}
#constructionForm  .input-box select{
  padding-right: 0px;
}
#constructionForm  .form-group .sel-dif{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left:  32px;

}
#constructionForm  .input-box select{
  text-align: left;
  outline: none;
  border: none;
}
#constructionForm  .input-box .material-symbols-outlined {
  position: absolute;
  right: 10px;
  pointer-events: none;
}

#otherNameType {
  margin-top: 0px;
}
option{
  color: #3d4e70;
  font-weight: 500;

}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
}
#constructionForm  .input-box {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust gap between elements */
}

#constructionForm  input, #constructionForm  select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%; /* Ensure full width */
  max-width: 200px; /* Optional: Set a max width */
}

#otherNameType {
  width: 100%; /* Ensures input width matches the select width */
  max-width: 200px; /* Set the max width */
  transition: width 0.3s ease; /* Smooth transition */
  border-radius: 50px;
}

.material-symbols-outlined {
  font-size: 24px;
  cursor: pointer;
}

.submit{
  background-color: #147695;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 50px;
  transition: all 0.1s ease-in-out;
}
.submit:hover{
  transform: scale(1.02);
}

/* pop close  */