@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/* body{
    background-color: #F2F6FC;
    background-color: white;
} */
.profile-part, .security-part{
    margin: 10px auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    max-width: 1200px;
    width: 100%;
}
.profile-photo-part, .delete-account-part{
    max-width: 340px;
    width: 100%;
}
.profile-details-part, .change-password-part{
    max-width: 780px;
    width: 100%;
}
.profile-photo-box, .profile-details-box, .change-password-box, .delete-account-box{
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 4px;
}
.profile-photo-head, .profile-details-head, .password-head, .delete-head{
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    font-size: 16px;
    font-weight: 500;
    color: #515356;
}
.profile-details-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-details-head .edit-btn-container{
    background-color: #0D6EFD;
    color: white;
    font-size: 13px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 2px;
}
.profile-photo-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    gap: 20px;
    color: #515558;
    background-color: white;
    border-radius: 0 0 4px 4px;
}
.profile-photo-img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid rgb(195, 195, 195);
}
.profile-photo-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-photo-text{
    font-size: 14px;
    font-weight: 400;
}
.profile-photo-btn{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.upload-image, .delete-img, .del-acc-btn{
    width: 140px;
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.upload-image{
    background-color: #0d6efd;
}
.upload-image:hover{
    background-color: #055de1;
}
.profile-photo-btn{
    display: flex;
    justify-content: center;
}
.delete-img{
    background-color: rgba(244, 22, 22, 0.944);
}
.delete-img:hover{
    background-color:  rgb(235, 2, 2);
}

.profile-details-body, .password-body{
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #515558;
    background-color: white;
    border-radius: 0 0 4px 4px;
}
.profile-update, .pass-update{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}
.profile-update .form-group{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.profile-update .form-input, .pass-update .form-input , .profile-update {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.profile-update label, .pass-update label{
    font-size: 14px;
}
.profile-update input, .pass-update input , .profile-update #usertype{
    width: 100%;
    padding: 12px;
    border-radius: 0.35rem;
    border: 1px solid #c5ccd6;
    font-size: 14px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.profile-update input:focus, .pass-update input:focus, .profile-update #usertype:focus{
    outline: none;
    border: 1px solid rgba(62, 171, 186, 0.84);
    box-shadow: rgba(37, 161, 167, 0.748) 1px 1px 1px, rgba(45, 225, 216, 0.696) 1px 1px 1px;
}
.label-edit{
    display: flex;
    justify-content: space-between;
}
.label-edit .edit{
    cursor: pointer;
}
.label-edit .edit:hover{
    color: #262626;
}
.save-button .save-btn{
    background-color: #0d6efd;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    width: 120px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.save-button .save-btn:hover{
    background-color: #055de1;
}
.delete-body{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.delete-para{
    font-size: 14px;
    color: #515558;
}
.del-acc-btn{
    background-color: #F1E0E3;
    color: #DC357D;
    width: 250px;
    border: 1px solid #DC357D;
}
.del-acc-btn:hover{
    background-color:  #f2c7cfeb;

}
.otp-group {
    margin-top: 20px;
}

.smallpara{
    font-size: 12px;
    margin: 10px 0px;
}
.password-wrapper {
    position: relative;
}
#get-otp-mob,#get-otp-email{
    background-color: #D96F2C;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;

}
#verify-mob,#verify-email{
    background-color: #0B3A62;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
#resend-email,#resend-mob{
    background-color: #A5362B;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
@media (max-width:768px) {
    .profile-update .form-group{
        flex-wrap: wrap;
    }
}

/* notify or pop up */
.customNotification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 20px 10px;
    border-radius: 12px;
    max-width: 300px;
    width: 100%;
    font-size: 16px;
    z-index: 9999;
    display: none;
    text-align: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    opacity: 0;  /* Set initial opacity to 0 for smooth fade-in */
    transition: opacity 0.3s ease, transform 0.3s ease;  /* Add transition for opacity and transform */
}

#notificationMessage {
    padding: 10px 5px;
    margin-bottom: 20px;
}

.okButton {
    background-color: #ffffff;
    color: #4caf50;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.okButton:hover {
    background-color: #f1f1f1;
}