@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html{
    overflow-x: hidden;
}
body{
    /* background-color: #EFF2F6; */
    background-color: white;
}

/* Navigation bar */

.navigation-bar{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: #fdfdfd;
    z-index: 20;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.navigation-bar .logo{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    cursor: pointer;
}
.navigation-bar .logo>img{
    max-width: 35px;
    margin-right: 10px;
}
.navigation-bar .logo>div{
    font-size: 18px;
    font-weight: bold;
    color: #10578b;
}
.navigation-bar .notify{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.navigation-bar .notify #bell{
    font-size: 20px;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}
.navigation-bar .notify i:hover{
    background-color: rgb(212, 212, 212);
    transform: scale(1.2);
}
/* profile view */
.main-profileview{
   display: none;
}
.profile-view{
    height: max-content;
    width: 200px;
    position: fixed;
    top: 55px;
    right: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    z-index: 20;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 5px;
}
.profile-view .profile{
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-view .profile img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid rgb(236, 236, 236);
}
.profile-view .manage{
    width: 100%;
    display: flex;
    justify-content: center;
}
.profile-view .manage>span{
    border: 2px solid rgb(163, 163, 163);
    padding: 5px 10px;
    border-radius: 10px;
    color: blue;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
.profile-view .manage>span:hover{
    background-color: #d0dde6;
}
.profile-view .line{
    width: 100%;
    border: 1px solid rgb(180, 180, 180);
}
.profile-view .logout{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-view .logout>span{
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-weight: bold;
}
.profile-view .logout>span:hover{
    color: rgb(65, 65, 65);
}
.navigation-bar .notify img{
    cursor: pointer;
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.navigation-bar .notify img:hover{
    transform: scale(1.2);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* notification */
.main-notification{
    display: none;
}
.notification{
    overflow-y: auto;
    position: fixed;
    z-index: 20;
    top: 55px;
    right: 45px;
    background-color: white;
    margin: 5px;
    max-height: 400px;
    height: 100%;
    max-width: 300px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    border-radius: 10px;
}
.notification::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  .notification::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
  }
  
  .notification::-webkit-scrollbar-thumb {
    background-color: #088994;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(112, 112, 112);  /* creates padding around scroll thumb */
  }
.notification .notify-heading{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

.notification .notify-heading>span{
    font-size: 18px;
    padding: 5px;
    text-decoration: underline;
}
.notification .single-block{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid grey;
    display: flex;
    align-items:start ;
    justify-content: flex-start;
    gap: 8px;
    padding: 10px;
}
.notification .icon-block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.notification .icon-block>span{
    background-color: #dfdfdf;
    padding: 3px;
    border-radius: 50%;
}
.notification .icon-block .red-dot{
    border: 1px solid red;
    background-color: red;
}
.red-dot.hidden {
    display: none;
}

.notification .single-block .notify-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.notify-block .notify-block-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.notify-block-head .notified-heading{
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.notify-block-head>div{
    display: flex;
    gap: 8px;
    font-size: 12px;
    color: grey;
}
.single-block .notify-block-body{
    font-size: 14px;
}
.mob-hamberger{
    display: none;
}
.mobile-btn-main{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mobile-btn{
    font-size: 20px;
}
@media (max-width:768px) {
    .mob-hamberger{
        display: block;
    }
    .notification{
        right: 10px;
    }
}

/* Sidenav bar */

.sidebar {
    z-index: 30;
    overflow-y: auto;
    height: 100%;
    position: fixed;
    margin-left: 5px;
    width: 70px;
    background-color: #fdfdfd;
    padding: 0.4rem 0.3rem;
    transition: all 0.5s ease;
    top: 55px;
    overflow-wrap: inherit;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.sidebar::-webkit-scrollbar {
    display: none; 
}
/* .sidebar.active ~ .maincontent {
    left: 240px;
    width: calc(100% - 70px);
} */

.sidebar.active {
    width: 240px;
}

.sidebar #btn {
    color: black;
    position: absolute;
    top: 0.5rem;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.sidebar.active #btn {
    left: 85%;
    transform: rotate(90deg);
}

.sidebar .top {
    color: black;
    font-weight: 600;
    padding-bottom: 12px;
    opacity: 1;
}

.sidebar.active .top {
    opacity: 1;
}

.sidebar ul {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    max-height: 35px;
    height: 100%;
    width: 90%;
    margin: 0.2rem auto;
    line-height: 4.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sidebar ul #present-active-page a{
    color: black;
    background-color: rgb(250,250,250);
    border: 1px solid rgb(202,202,202);
}

.sidebar ul li a {
    color: rgb(65, 65, 65);
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 2px solid transparent;
    border: 1px solid transparent;
    transition: all 0.1s ease-in-out 0.03s;
}

.sidebar ul li a:hover {
    color: black;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(202, 202, 202);
}
.sidebar ul li a>span:first-child {
    min-width: 50px;
    text-align: center;
    border-radius: 12px;
    position: relative;
}

.sidebar .nav-item {
    opacity: 0;
    white-space: nowrap;
}

.sidebar.active .nav-item {
    opacity: 1;
}


@media (max-width:768px) {
    .sidebar{
        opacity: 0;
        position: fixed;
        max-height: 93%;
        height: 100%;
        width: 240px;
        left: -240px;
        top: 50px;
        z-index: 10;
        overflow-y: hidden;
        padding: 0px;
        margin: 0px;
    }
    .sidebar.active{
        opacity: 1;
        left: 0; 
        width: 240px;
    }
    .sidebar .top{
        display: none;
    }
    .sidebar ul{
        margin-top: 5px;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 10px;
    }
    .sidebar .top {
        margin-top: 5px;
        margin-bottom: 16px;
    }
    .sidebar.active ~ .maincontent {
        left: 0px;
        width: 100%;
    }
}

/* Main Content- */
.main-content {
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 75px;
    width: calc(100% - 75px);
    transition: all 0.5s ease;
    text-overflow: none;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .sidebar.active ~ .main-content {
    left: 240px;
} */

.main-content #live-screen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.main-content #heading{
    font-size: 18px;
    color: #286DB3;
    font-weight: bold;
}
.main-content #live-screen>a{
    padding: 8px 20px;
    background-color: rgb(231, 85, 85);
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.main-content .demogap{
    height: 420px;
}
@media (max-width:768px) {
    .main-content {
        left: 0;
        width: 100%;
    }
    .sidebar.active ~ .main-content {
        left: 0px;
    }
}
/* footer */
footer{
    margin-left: 5px;
    margin-right: 3px;
    padding: 20px 40px;
    background-image: linear-gradient(78deg, rgba(96, 96, 96, 0.04) 0%, rgba(96, 96, 96, 0.04) 35%,rgba(220, 220, 220, 0.04) 35%, rgba(220, 220, 220, 0.04) 100%),linear-gradient(150deg, rgba(83, 83, 83, 0.04) 0%, rgba(83, 83, 83, 0.04) 71%,rgba(6, 6, 6, 0.04) 71%, rgba(6, 6, 6, 0.04) 100%),linear-gradient(311deg, rgba(203, 203, 203, 0.04) 0%, rgba(203, 203, 203, 0.04) 58%,rgba(3, 3, 3, 0.04) 58%, rgba(3, 3, 3, 0.04) 100%),linear-gradient(137deg, rgba(110, 110, 110, 0.04) 0%, rgba(110, 110, 110, 0.04) 11%,rgba(226, 226, 226, 0.04) 11%, rgba(226, 226, 226, 0.04) 100%),linear-gradient(90deg, rgb(11,64,102),rgb(16,87,139));    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-evenly;
    gap: 20px;
    border-radius: 5px 5px 0px 0px;
}
footer .social{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;   
}
footer .social>span{
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
}
footer .social>div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
footer .social>div>div{
    background-color: white;
    border-radius: 12px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 5px 5px 0px 0px rgb(41, 40, 40);
    transition: all 0.1s ease-in-out;
}
footer .social>div>div:hover{
    box-shadow: 0px 0px 0px 0px black;
    transform: translateY(-2px);
}
footer .social>div .fa-square-facebook{
    color: #395693;
    font-size: 23px;
    text-align: center;
}
footer .social>div .fa-youtube{
    color: red;
    font-size: 23px;
    text-align: center;
}
footer .social>div .fa-square-x-twitter{
    color: black;
    font-size: 23px;
}
footer .social>div .fa-square-instagram{
    background: linear-gradient(225deg, #7F02F7, #F502BD, #F63119, #F5C000);
    background-clip: text;
    color: transparent;
    font-size: 23px;
}
footer .quick-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .quick-links>span{
    font-size: 16px;
    font-weight: 400;
}
footer .quick-links>div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
footer .quick-links>div>a{
    font-size: 14px;
    color: rgb(219, 219, 219);
    cursor: pointer;
    text-decoration: none;
}
footer .contact-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 250px;
    width: 100%;
}
footer .contact-info>div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
footer .contact-info>div>span{
    font-size: 14px;
    color: rgb(219, 219, 219);
}
footer .subscribe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
    max-width: 250px;
    width: 100%;
}
footer .subscribe>span{
    font-size: 16px;
    font-weight: 400;
}
footer .subscribe>div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
}
footer .subscribe>div>span{
    font-size: 14px;
    color: rgb(219, 219, 219);
}
footer .subscribe>div>form>input{
    padding: 5px;
    border-radius: 2px;
    border: none;
}
footer .subscribe>div>form>.fotbtn{
    background-color: white;
    border: none;
    border-radius: 2px;
    padding: none;
    margin: none;
    padding: 5px;
    cursor: pointer;
}

.copyright{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(9,45,67)),repeating-linear-gradient(135deg, rgb(9,45,67) 0px, rgb(9,45,67) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(9,45,67),rgb(9,45,67));
    margin-left: 5px;
    margin-right: 3px;
    color: rgb(255, 255, 255);
    gap: 10px;
    border-radius: 0px 0px 5px 5px;

}
.copyright .wing{
    cursor: pointer;
    font-size: 14px;
}
.copyright>span{
    font-size: 15px;
}
.copyright>div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.copyright>div>span{
    font-size: 14px;
    cursor: pointer;
}
.copyright>div>div{
    border: 1px solid white;
    height: 18px;
}
@media (max-width:768px) {
    footer{
        padding: 15px 20px;
        justify-content: flex-start;
    }
    .copyright>div{
        gap: 12px;
    }
}
