@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
  .signcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    
  }
  
  .image-section {
    /* flex: 1 1 300px; */
    position: absolute;
    display: flex;
    justify-content:flex-end;
    top: 0;
    right: 0;
    width: 100%;
  }
  
  .image-section img {
    width: 100%;
    max-width: 100px;
  }
  .social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}

.social-login .social-icon {
    width: 180px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    padding: 8px;
    justify-content: center;
    /* border: 1px solid rgba(209, 209, 209, 0.532); */
    /* box-shadow: rgba(0, 0, 0, 0.289) 0px 1px 4px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.social-icon img{
    max-width: 20px;
    width: 100%;
    object-fit: cover;
}
.login-divider {
    text-align: center;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    color: #777777;
}

.line {
    border: 1px solid #d5d5d5;
    width: 100%;
}
  .form-container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgb(209, 209, 209);    
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
  }
  
  .form-title {
    text-align: center;
    font-size: 20px;
    color: #002a47;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .form-description {
    text-align: center;
    font-size: 12px;
    color: #646464;
    margin-bottom: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .grp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }
  @media (max-width:760px) {
    .grp{
        display: flex;
        flex-wrap: wrap;
    }
  }
  .signup-form label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #2E2E2E;
    margin-left: 4px;
  }
  
  .input-field {
    width: 100%;
    border: none;
    border: 1px solid rgba(194, 185, 210, 0.127);
    /* box-shadow: rgba(50, 50, 93, 0.25) -2px 2px 2px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;     */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 7px;
    padding: 10px 10px;
    font-size: 14px;
    outline: none;
  }
  .input-field:focus {
    border: 1px solid #8e8e8edb;
  }
  .password-wrapper {
    position: relative;
    width: 100%;
  }
.toggle-confirm-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    color: #2E2E2E;
    user-select: none;
  }
  
  .toggle-confirm-password:hover {
    color: #028397;
  }
  .terms{
    display: flex;
    font-weight: 500;
  }
  .terms .termsconditions{
    display: flex;
    align-items: center;
  }
  .termagree #terms{
    margin-top: 6px;
    margin-right: 2px;
  }
  .termagree label{
    font-size: 12px;
  }
  .subbtn{
    display: flex;
    justify-content: center;
  }
  .submit-btn {
    padding: 10px;
    background-color: rgb(11, 58, 98);
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
  .submit-btn:hover{
    background-color: #002a47;
  }
  .existing-account {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
  }
  
  .login-link {
    text-decoration: none;
    color: #b1005c;
    cursor: pointer;
    font-size: 12px;
  }
  .input-field.error {
    border: 2px solid red;
  }
  
  /* .input-field.valid {
    border: 2px solid rgb(0, 0, 0);
  } */
  #verifyEmailButton, #verifyPhoneButton{
      background-color: gray;
      color: white;
      border: none;
      padding: 10px;
      cursor: not-allowed;  
      border-radius: 4px;
      font-size: 12px;
      padding: 2px;
  }
  #verifyPhoneButton.enabled , #verifyEmailButton.enabled{
    background-color: green;
    cursor: pointer;
  }
  #emailOTPInput, #phoneOTPInput{
    padding: 2px;
    outline: none;
    padding-left: 4px;
    border-radius: 4px;
    border: 1px solid gray;
  }
  #submitEmailOTP, #submitPhoneOTP{
    background-color: lightskyblue;
    border: none;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid rgb(137, 137, 137);
    cursor: pointer;
  }
  .error-message {
    color: red;
    font-size: 12px;
    padding-top: 2px;
  }
  #verifyEmailButton, #verifyPhoneButton{
    font-size: 12px;
    margin-top: 4px;
    width: max-content;
    padding: 2px;
  }
  .password-wrapper {
    position: relative;
  }
  
  .toggle-password,
  .toggle-confirm-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  

  /* footer */
.main-content {
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 0px;
  width: calc(100% - 0px);
}
#email-otp-group, #phone-otp-group {
  display: none;
}